<div class="doctor-page">
    <p-card header="Add New Drug List" subheader=>

        <div class="grid mb-4">
            <div class="col">
                <p-toolbar>
                    <div class="p-toolbar-group-right"></div>
                    <div class="p-toolbar-group-right">
                        <p-button label="Create" icon="pi pi-plus" styleClass="p-button-success p-button-raised mr-2" (onClick)="onSubmit()"></p-button>
                        <p-button label="Clear" icon="pi pi-refresh" styleClass="p-button-secondary p-button-raised mr-2" (onClick)="clear()"></p-button>
                        <p-button label="Cancel" icon="pi pi-times-circle" styleClass="p-button-danger p-button-raised" (onClick)="goBack()"></p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>

        <div class="grid">
            <div class="col-12">

                <form [formGroup]="form">

                    <div class="p-fluid p-formgrid grid">

                       <div class="field col mr-6">
                            <label for="patientName">Company Name</label>
                            <input formControlName="patientName" id="patientName" type="text"  pInputText> 
                            <small *ngIf="form.controls['patientName'].invalid && isSubmitted" class="p-error">Patient Name Required</small>
                        </div>
            
                        <div class="field col">
                            <label for="patientAge">Delivery ID Number</label>
                            <input formControlName="patientAge" id="patientAge" type="text" pInputText> 
                            <small *ngIf="form.controls['patientAge'].invalid && isSubmitted" class="p-error">Patient Age Required</small>
                        </div>

                    </div>

                    <div class="p-fluid p-formgrid grid">

                        <div class="field col mr-6">
                            <label for="drugName">Drug Name</label>
                            <p-autoComplete 
                                id="drugName"
                                formControlName="medication"
                                [(ngModel)]="drug" 
                                [showEmptyMessage]="true" 
                                [suggestions]="filteredDrugs" 
                                (completeMethod)="filterDrugs($event)" 
                                field="brand_name" [minLength]="1">
                            </p-autoComplete>

                            <small *ngIf="form.controls['medication'].invalid && isAdd" class="p-error">Drug Name Required</small>
                        </div>
            
                        <div class="field col">
                            <label for="amount">Amount</label>
                            <input formControlName="amount" id="amount" type="text" pInputText> 
                            <small *ngIf="form.controls['amount'].invalid && isAdd" class="p-error">Patient Age Required</small>
                        </div>

                    </div>

                    <div class="p-fluid p-formgrid grid">

                        <div class="field col mr-6">
                             <label for="route">Route</label>
                             <input formControlName="route" id="route" type="text"  pInputText> 
                             <small *ngIf="form.controls['route'].invalid && isAdd" class="p-error">Route Required</small>
                         </div>
             
                         <div class="field col">
                             <label for="frequency">Frequency</label>
                             <input formControlName="frequency" id="frequency" type="text" pInputText> 
                             <small *ngIf="form.controls['frequency'].invalid && isAdd" class="p-error">Frequency Required</small>
                         </div>
 
                     </div>

                     <div class="p-fluid p-formgrid grid">

                        <div class="field col mr-6">
                             <label for="prn">PRN</label>
                             <input formControlName="prn" id="prn" type="text"  pInputText> 
                             <small *ngIf="form.controls['prn'].invalid && isAdd" class="p-error">PRN Required</small>
                         </div>
             
                         <div class="field col">
                             <label for="howMuch">Disp</label>
                             <input formControlName="howMuch" id="howMuch" type="text" pInputText> 
                             <small *ngIf="form.controls['howMuch'].invalid && isAdd" class="p-error">Disp Required</small>
                         </div>
 
                     </div>

                     <div class="p-fluid p-formgrid grid">

                        <div class="field col-6  pr-5">
                             <label for="refills">Refills</label>
                             <input formControlName="refills" id="refills" type="number"  pInputText> 
                             <small *ngIf="form.controls['refills'].invalid && isAdd" class="p-error">Refills Required</small>
                         </div>
 
                     </div>

                     <p-button label="Add Medication" icon="pi pi-plus" styleClass="p-button-success p-button-raised mr-2" (onClick)="onAdd()"></p-button>

                     <div class="grid mt-4">
                        <div class="col-12">
                            <label for="table">Medications Table</label>
                            <p-table [value]="medications" id="table" styleClass="p-datatable-gridlines mt-1"  responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Drug</th>
                                        <th>Amount</th>
                                        <th>Route</th>
                                        <th>Frequency</th>
                                        <th>PRN</th>
                                        <th>Disp</th>
                                        <th>Refills</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item>
                                    <tr>
                                        <td>{{item.medication.brand_name}}</td>
                                        <td>{{item.amount}}</td>
                                        <td>{{item.route}}</td>
                                        <td>{{item.frequency}}</td>
                                        <td>{{item.prn}}</td>
                                        <td>{{item.howMuch}}</td>
                                        <td>{{item.refills}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>

                </form>

            </div>
          </div>

    </p-card>
</div>
