<nav class="navigation">
    <div class="nav-center">
        <section>
            <!-- <a routerLink="home" class="logo"><i class="fa-solid fa-prescription"></i> -->
                <h1><span style="color: rgb(247, 251, 249);"> Smart E-Chemist </span></h1>
            <!-- </a> -->
    <div style="margin-left: 60px;"> </div>
            <ul class="links">
                <li><a routerLink="home"><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a href="about"><i class="fa-solid fa-circle-info"></i>About Us</a></li>
                <li><a routerLink="/faq"><i class="fa-solid fa-circle-question"></i>FAQs</a></li>
                <li><a href="chat"><i class=""></i>Chat with Us</a></li>
            </ul>
        </section>
        
        <div class="btn-container">
            <a routerLink="login" class="btn sign-in">Sign In</a>
            <a routerLink="register" class="btn register">Register as a supplier</a>
        </div>
    </div>
</nav>
