.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $clr-neutral-100;
    height: 5rem;
    color: $clr-white;
    z-index: 1000;

    .nav-center {
        width: 100%;
        padding: .5rem 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        section {
            display: flex;
            align-items: center;
            justify-content: center;

            .logo {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .5rem;
                margin-right: 2rem;
    
                i {
                    font-size: 2.5rem;
                    color: $clr-accent-400;
                }
    
                h1 {
                    font-size: 1.5rem;
                    font-family: $ff-logo;
                    color: $clr-accent-100;
                    letter-spacing: 1px;
                }
            }
    
            .links {
                display: flex;
                align-items: center;
                gap: 1rem;

                a {
                    display: inline-block;
                    font-size: .9rem;
                    font-weight: 600;
                    padding: .375rem;
                    position: relative;

                    i {
                        margin-right: .375rem;
                    }

                    &:hover {
                        &::after {
                            transform: scaleX(1);
                        }
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -.6rem;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: .2rem;
                        border-radius: .125rem;
                        background-color: $clr-accent-400;
                        transform: scaleX(0);
                        transition: transform 300ms ease-in-out;
                    }
                }
            }
        }

        .btn-container {
            display: flex;
            gap: 1rem;

            .sign-in {
                border: 1px solid $clr-green;

                &:hover {
                    background-color: $clr-green
                }
            }

            .register {
                border: 1px solid $clr-accent-400;

                &:hover {
                    background-color: $clr-accent-400;
                }
            }
        }

    }
}