.product {
    width: 100%;
    height: 80vh;
    position: relative;

    &-center {
        width: 100%;
        height:100%;
        max-width: 1280px;
        margin-inline: auto;
        padding-inline: 1rem;
        padding-block: 4rem;
        display: flex;

        .image {
            flex: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .info {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 1rem;

            &-header {
                padding-bottom: 1rem;
                border-bottom: 1px solid #222;
                margin-bottom: 1rem;

                h4 {
                    font-size: 1.4rem;
                    color: #333;
                    font-weight: 500;
                    margin-bottom: .5rem;
                }

                .ratings {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: .5rem;

                    .rating {
                        color: yellow;
                        font-size: .8rem;
                        display:flex;
                        gap: 5px;
                    }

                    .review {
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        a {
                            color: darkblue;
                            font-size: 1rem;
                        }

                        span {
                            width: 1px;
                            height: 1rem;
                            background-color: #222;
                        }
                    }
                }

                .price {
                    font-size: 1.5rem;
                    font-weight: 800;
                    color: #333;
                }
            }

            &-brand {
                display: flex;
                flex-direction: column;
                gap: .8rem;

                .detail {
                    font-size: 1rem;
                    font-weight: 500;
                    letter-spacing: 1px;
                    color: #333

                    span {
                        font-weight: 400;
                        color: #222
                    }
                }

                .form-control {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    input {
                        width: 5rem;
                        padding: .375rem 1rem;
                        border: 1px solid #333;
                    }
                }

                .buy-btn {
                    padding: .375rem 1rem;
                    width: 10rem;
                    background-color: coral;
                    font-size: 1rem;
                    margin-top: .5rem;
                }
            }
        }
    }
}