* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: $ff-body;
    min-height: 100%;
}

.p-component {
    font-family: $ff-body;
    font-size: .9rem;
}

.p-element {
    font-family: $ff-body;
    font-size: .9rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, 
li {
    list-style: none;
}

img,
picture {
    display: block;
    width: 100%;
}

button,
.btn {
    display: inline-block;
    padding: .5rem .8rem;
    font-size: .9rem;
    font-weight: 500;
    border-radius: .5rem;
    border: none;
    outline: none;
    background-color: #8bc348;
    color: $clr-white;
}

.autocomplete-field {
    display: flex;
    flex-direction: column;
}

p-autoComplete {
    width: 100%;
}

.text-field {
    display: flex;
    align-self: center;
    justify-content: flex-start;
    margin-bottom: 1.2rem;

    h4 {
        font-weight: 500;
    }
    
    .header {
        width: 8rem;
        font-weight: 400;
    }
}

.img-container {
    width: 35rem;
    overflow: hidden;
}