<div class="doctor-sidebar">
    <div class="logo">
        <!-- <i class="fa-solid fa-prescription"></i> -->
        <h1>Supplier Panel</h1>
    </div>
  
    <div class="links">
      <ul>
        <!-- //<li>
          <a href="#"><i class="fa-solid fa-prescription"></i>Dashboard</a>
        </li>/ -->
        <!-- <li>
          <a routerLink="profile"><i class="fa-solid fa-user-doctor"></i>Profile</a>
        </li> -->
        <li>
          <a routerLink="prescriptions"><i class="fa-solid fa-file-prescription"></i>Supply Drugs</a>
        </li>
        <!-- <li>
            <a href=""><i class="fa-solid fa-hospital-user"></i>Patients</a>
        </li> -->
        <li>
          <a class="logout" href=""><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
        </li>
      </ul>
    </div>
  
  </div>

