
<div style="text-align: center; margin-top: 30px; ">
    <br>
<form method="post" action="//submit.form" onSubmit="return validateForm();">

    <div style="padding-bottom: 18px;margin-top: 50px;"><b>Reviewer Name</b><span style="color: red;"> *</span><br/>
    <br>
    <input type="text" id="data_2" name="data_2" style="min-width : 450px;" class="form-control"/>
    </div>
  

    <div style="padding-bottom: 18px; margin-top: 50px;"><b>Write your review here</b><span style="color: red;"> *</span><br/>
    <br>
    <textarea id="data_8" false name="data_8" style="min-width : 450px;" rows="9" class="form-control"></textarea>
    </div>
<input style="padding: 10px; background-color: black; color: #fff;" type="button" value="Submit Review">
    </form>
    </div>
    