<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <style>
         p {
        text-align: center;
        font-size: 20px;
        font-family: "Arial", sans-serif;
        color: "#2980b9";
        padding: 50px;
      }
    </style>
  </head>
  <body>
    <br>
    <h1 align="center">
        <font face="sans-serif" color="#2980b9" size="7">
        About Us
        </font>
    </h1>  
    <div style="display: flex;">
        <div style="margin-left: 280px; margin-right: 280px; margin-bottom: 50px;">
            <img width="60px" src="../../../assets/Image16.jpg" alt="product image">
            <p>Smart E-Chemist is a business organization, which provides essential medicine products & equipments for the consumers to fulfill their helath-related essentials. Futhermore, our company mostly helpers to the Sri Lankan local suppliers to sell their products in the local and international market. Since this procedure helps to gain the good dollar income to the Sri Lanka economy in this economic crisis background. In addition, Our organization carried our business activties only through this web platform. hence this is basically a online pharmacy management system. If you have anything thing to say regarding our service, please contact our hotline - 0113177202 or send an e-mail to to the following email address smarte-chemist@gmail.com.</p>
        </div>
      </div>
       
  </body>
</html>
