<p-card>
    <form [formGroup]="form">

        <div class="field">
            <label for="firstname">Firstname</label>
            <input formControlName="firstName" id="firstname" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

            <small *ngIf="form.controls.firstName.invalid && isSubmitted" class="p-error">Firstname Required</small>

        </div>

        <div class="field">
            <label for="lastname">Lastname</label>
            <input formControlName="lastName" id="lastname" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

            <small *ngIf="form.controls.lastName.invalid && isSubmitted" class="p-error">Lastname Required</small>
        </div>

        <div class="field">
            <label for="email">Email</label>
            <input formControlName="email" id="email" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

            <small *ngIf="form.controls.email.invalid && isSubmitted" class="p-error">Please enter a valid email address</small>
        </div>

        <div class="field">
            <label for="mobile">Phone Number</label>
            <input formControlName="mobile" id="mobile" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

            <small *ngIf="form.controls.mobile.invalid && isSubmitted" class="p-error">Please enter a valid phone number</small>
        </div>

        <div class="field">
            <label for="mobile">National ID Card Number</label>
            <input formControlName="nic" id="nic" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

            <small *ngIf="form.controls.mobile.invalid && isSubmitted" class="p-error">NIC is required</small>
        </div>

        <div class="field">
            <label for="address">Address</label>
            <input formControlName="address" id="address" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

            <small *ngIf="form.controls.address.invalid && isSubmitted" class="p-error">Address Required</small>
        </div>

        <div class="field">
            <label for="slmcRegNo">Company Registerd Number</label>
            <input formControlName="slmcRegNo" id="slmcRegNo" type="number" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

            <label class="btn btn-file" for="slmcDocument"><i class="fa-solid fa-file-image"></i>Choose an Image</label>
            <input id="slmcDocument" formControlName="slmcDocument" id="slmcDocument" type="file" (change)="onImageChange($event)">
            <small *ngIf="imageName" class="mr-2">{{imageName}}</small>

            <small *ngIf="(form.controls.slmcRegNo.invalid && isSubmitted) || (emptyImage && isSubmitted)" class="p-error">SLMC Registration number and Image Required</small>
        </div>

        <div class="field">
            <label for="speciality">SLN Number</label>
            <p-autoComplete 
                formControlName="speciality"
                id="specility" name="speciality" 
                [(ngModel)]="speciality" 
                [showEmptyMessage]="true" 
                [suggestions]="filterdSpecialities" 
                (completeMethod)="filterSpecialities($event)" [minLength]="1"
                [style]="{'width':'100%'}" [inputStyle]="{'width':'100%', 'height': '2.5rem'}">
            </p-autoComplete>

            <small *ngIf="form.controls.speciality.invalid && isSubmitted" class="p-error">SLN Number Required</small>
        </div>

        <!-- <div class="field">
            <label for="hospital">Hospital</label>
            <input formControlName="hospital" id="hospital" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

            <small *ngIf="form.controls.hospital.invalid && isSubmitted" class="p-error">Hospital Required</small>
        </div> -->

        <div class="field">
            <label for="username">Username</label>
            <input formControlName="username" id="username" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

            <small *ngIf="form.controls.username.invalid && isSubmitted" class="p-error">Username Required</small>
        </div>

        <div class="field">
            <label for="password">Password</label>
            <p-password formControlName="password" id="password" [toggleMask]="false"
            [style]="{'width':'100%'}" [inputStyle]="{'width':'100%', 'height': '2.5rem'}"></p-password>
            <small *ngIf="form.controls.password.invalid && isSubmitted" class="p-error">Password cannot empty</small>
        </div>

        <div class="field">
            <label for="re-password">Confirm Password</label>
            <p-password formControlName="rePassword" [toggleMask]="false"
            [style]="{'width':'100%'}" [inputStyle]="{'width':'100%', 'height': '2.5rem'}"></p-password>

            <small *ngIf="isSubmitted && isPasswordUnMatch" class="p-error">Doesn't match passwords</small>
        </div>

        <button pButton pRipple type="button" icon="pi pi-upload" label="Submit Application" class="p-button-success mt-3" (click)="onSubmit()"></button>

    </form>

</p-card>
