$clr-accent-400: hsl(12, 88%, 59%);
$clr-accent-100: hsl(13, 100%, 96%);

$clr-primary-400: hsl(228, 39%, 23%);

$clr-neutral-100: hsl(233, 12%, 13%) ;
$clr-neutral-900: hsl(0, 0%, 0%);

$clr-white: hsl(0, 100%, 100%);
$clr-green: #16a34a;

$ff-logo: 'Lobster', cursive;
$ff-body: 'Open Sans', sans-serif;
$ff-heading: 'Fira Sans', sans-serif;