<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" type=""text/css" href="chatstyle.css"
</head>   
<body>
 
<div class="container">
    <div class="header">
       <h1>Smart E-chemist Live Chat</h1>   
    </div>
    <div class="body">
       <p class="message">Hello, How can I help you?</p> 
    </div> 
    <div class="footer">
        <form>
            <input type="text" name="">
            <button>Send</button>
        </form>   
    </div>
</div>    
</body> 
</html>