<section class="product">

    <div class="product-center">

        <div class="image">
            <img src="../../../assets/image6.jpg" alt="">
        </div>

        <div class="info">

            <div class="info-header">
                <h4 class="title">Lorem Ipsum</h4>

                <div class="ratings">
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>  
    
                    <div class="review">
                        <a routerLink="/review" >Review(s)</a>
                        <span></span>
                        <!-- <a href="#">Write a review</a> -->
                    </div>
                </div>  
    
                <h4 class="price">
                    Rs. 930.00
                </h4>
            </div>

            <div class="info-brand">
                <h4 class="detail">
                    Brand: 
                    <span>Medicine</span>
                </h4>

                <h4 class="detail">
                    Product Code: 
                    <span>12DDD353</span>
                </h4>

                <h4 class="detail">
                    Reward Points: 
                    <span>400</span>
                </h4>

                <h4 class="detail">
                    Availability: 
                    <span>In stock</span>
                </h4>

                <h4 class="detail">
                    Ex tax: 
                    <span>$20.99</span>
                </h4>

                <div class="form-control">
                    <label class="detail" for="">QTY</label>
                    <input type="number">
                </div>


                <button class="buy-btn" routerLink="/payment" >
                    Buy Now
                </button>

                <button class="buy-btn" routerLink = "/delivery">
                    Deliver Now
                </button>
            </div>

        </div>

    </div>

</section>