<section class="showcase">
    <div class="section-center">
        <h3>Total Helath Care Support</h3>
        <button (click)="navigateToRegister()" class="btn join-btn">Register as Suppliyer</button>
        <!-- <a  class="btn join-btn">Join Now</a> -->
    </div>
</section>

<div style="  display: grid;
grid-template-columns: auto auto auto;
padding: 100px;
margin-left: 130px;
">
    <div style="  background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;"><img  src="../../../assets/aass.jpeg" alt="product image"></div>
    <div style="  background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;"> <img  src="../../../assets/aasss.jpeg" alt="product image"></div>
    
   
</div>

<section class="products">
    <a routerLink="/product" class="card">
        <img src="../../../assets/image5.jpg" class="product-image" alt="product image">

        <div class="card-info">
            <div class="card-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>

            <h4>
                CeraVe EYE REPAIR CREAM 14ml
            </h4>
    
            <span>
                Rs. 950.00

            </span>

        </div>

    </a>

    <a routerLink="/product2" class="card">
        <img src="../../../assets/image6.jpg" class="product-image" alt="product image">

        <div class="card-info">
            <div class="card-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>

            <h4>
                FIXDERMA MOISTURIZING CREAM 60g
            </h4>
    
            <span>
                Rs. 1950.00

            </span>
            
        </div>
    </a>

    <a routerLink="product2" class="card">
        <img src="../../../assets/image7.jpg" class="product-image" alt="product image">

        <div class="card-info">
            <div class="card-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>

            <h4>
                GLUTALYIF 750mg 60 CAPSULES BOTTLE
            </h4>
    
            <span>
                Rs. 650.00
            </span>
            
        </div>
    </a>

    <a routerLink="product" class="card">
        <img src="../../../assets/image8.jpg" class="product-image" alt="product image">

        <div class="card-info">
            <div class="card-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>

            <h4>
                PERFECTIL PLATINUM
            </h4>
    
            <span>
                Rs. 3,849.50
            </span>
            
        </div>
    </a>

    <a routerLink="product" class="card">
        <img src="../../../assets/image1.jpg" class="product-image" alt="product image">

        <div class="card-info">
            <div class="card-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>

            <h4>
                EVENTONE-C SKIN LIGHTENING BODY MILK (SPF 45) 150ml
            </h4>
    
            <span>
                Rs. 7,500.00
            </span>
            
        </div>
    </a>

    <a routerLink="product" class="card">
        <img src="../../../assets/image2.jpg" class="product-image" alt="product image">

        <div class="card-info">
            <div class="card-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>

            <h4>
                Lorem ipsum.
            </h4>
    
            <span>
                $100.00
            </span>
            
        </div>
    </a>

    <a routerLink="product2" class="card">
        <img src="../../../assets/image3.jpg" class="product-image" alt="product image">

        <div class="card-info">
            <div class="card-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>

            <h4>
                NOW VEGAN HAIR, SKIN & NAILS VEG. CAPSULES
            </h4>
    
            <span>
                Rs. 9,800.00
            </span>
            
        </div>
    </a>

    <a routerLink="product" class="card">
        <img src="../../../assets/image4.jpg" class="product-image" alt="product image">

        <div class="card-info">
            <div class="card-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>

            <h4>
                MESOESTETIC ULTIMATE W+ WHITENING FOAM 100ml
            </h4>
    
            <span>
                Rs. 7,950.00
            </span>
            
        </div>
    </a>
</section>

<div style="margin-left: 280px; margin-right: 280px; margin-bottom: 50px;">
    <img width="60px" src="../../../assets/bbbb.jpeg" alt="product image">
</div>

<section class="newsletter">

    <h3>SUBSCRIBE FOR THE NEWSLETTER</h3>

    <div class="newsletter-input">
        <input type="text" placeholder="Enter your email">

        <button>
            Submit
        </button>
    </div>

</section>

<a href="https://api.whatsapp.com/send?phone=0704222823" class="whatsapp-button">
    <i class="fa-brands fa-whatsapp"></i>
</a>
