<br>
<div style="text-align: justify;margin-left: 460px; margin-right: 460px;"><p>Welcome to Smart E-Chemist Pharmacy! We are a locally-owned and operated pharmacy that has been serving our community for over 20 years. Our mission is to provide high-quality, affordable medications to our patients, along with friendly and knowledgeable service.

    Our team is led by our pharmacist, John Smith, RPh, who has over 15 years of experience in the field. He is supported by a team of dedicated and experienced staff members, who are committed to helping our patients with all of their medication needs.
    
    We offer a wide range of services to our patients, including prescription filling, over-the-counter medication sales, and drug delivery. We also have an online patient portal where you can manage your prescriptions, order refills, and track your order status.
    
    We are committed to patient safety and privacy, and have been certified by the National Association of Boards of Pharmacy (NABP) and accredited by the Accreditation Commission for Health Care (ACHC). We also have a strict process of how we acquire our drugs from our supplier and make sure that it is safe and FDA approved.
    
    In addition to serving our patients, we also actively contribute to our community through charitable efforts and participating in local health fairs.
    
    If you have any questions or concerns, please don't hesitate to contact us. You can reach us by phone at 555-555-5555, by email at contact@abcpharmacy.com, or by stopping by our store, located at 123 Main St,  Sri Lanka.</p>
</div>