<div class="admin-page">
    <p-card [header]="newUserMode ? 'Join Requests' : 'Suppliyers '" [subheader]="newUserMode ? 'List of join requests' : 'List of all suppliyers'">

        <div class="grid mb-4">
            <div class="col">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <p-button *ngIf="!newUserMode" label="Join Requests" icon="pi pi-bookmark-fill" styleClass="p-button-secondary button-raised" 
                        [badge]="new_users.length > 0 ? new_users.length : ''" badgeClass="p-badge-warning" (onClick)="switchNewUsersMode()"></p-button>

                        <p-button *ngIf="newUserMode" label="Back" icon="pi pi-chevron-left" styleClass="p-button-secondary p-button-raised" (onClick)="goBack()"></p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>

        <div class="grid">
            <div class="col-12">
                <p-table [value]="newUserMode ? new_users : verifiedDoctors" styleClass="p-datatable-gridlines"  responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Company Name</th>
                            <th>Email</th>
                            <th>Registered Number</th>
                            <th>Medicine Type</th>
                            <th>Location</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-doctor>
                        <tr routerLink="{{doctor._id}}">
                            <td>{{doctor.firstName}} {{doctor.lastName}}</td>
                            <td>{{doctor.email}}</td>
                            <td>{{doctor.slmcRegNo}}</td>
                            <td>{{doctor.speciality}}</td>
                            <td>{{doctor.hospital}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

    </p-card>
</div>
