<div class="admin-sidebar">
    <div>
        <!-- <i class="fa-solid fa-prescription"></i> -->
        <div style="margin-top: 30px;"> </div>
        <h2>Administration <br> Dashboard</h2>
    </div>

    <div style="margin-top: 100px;"> </div>
  
    <div class="links">
      <ul>
        
        <li>
          <a routerLink="doctors"><i class="fa-solid fa-shipping-fast"></i>Suppliers</a>
        </li>
        
        <li>
          <a routerLink="drugs"><i class="fa-solid fa-pills"></i>Drugs</a>
        </li>
        <li>
          <a routerLink="prescriptions"><i class="fa-solid fa-file-prescription"></i>Order Lists</a>
        </li>
        <li>
          <a class="logout" href=""><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
        </li>
      </ul>
    </div>
  
  </div>
