<section class="product">

    <div class="product-center">

        <div class="image">
            <img src="../../../assets/Image18.png" alt="">
        </div>

        <div class="info">

            <div class="info-header">
                <h4 class="title">KN95 White Face Mask</h4>

                <div class="ratings">
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>  
    
                    <div class="review">
                        <a routerLink="/review">Write a Review</a>
                        <span></span>
                        <a href="#">Back to Home</a>
                    </div>
                </div>  
    
                <h4 class="price">
                    Rs. 350.00
                </h4>
            </div>

            <div class="info-brand">
                <h4 class="detail">
                    Brand: 
                    <span>Neon</span>
                </h4>

                <h4 class="detail">
                    Product Code: 
                    <span>12WDD353</span>
                </h4>

                <h4 class="detail">
                    Reward Points: 
                    <span>350 Points</span>
                </h4>

                <h4 class="detail">
                    Availability: 
                    <span>In stock</span>
                </h4>

                <h4 class="detail">
                    Tax Rate: 
                    <span>Rs. 20.00</span>
                </h4>

                <div class="form-control">
                    <label class="detail" for="">QTY:</label>
                    <input type="number">
                </div>

                <button class="buy-btn">
                    Buy Now
                </button>
                <button class="buy-btn" routerLink = "/delivery">
                    Deliver Now
                </button>
            </div>

        </div>

    </div>

</section>
