<!DOCTYPE html>
<html>
<head>
  <title>Payment Success</title>
  <style>
    /* Add some styling to the page */
    body {
      background-color: lightgreen;
      text-align: center;
    }
    h1 {
      color: darkgreen;
      font-size: 2em;
    }
    p {
      color: darkgreen;
      font-size: 1.5em;
    }
    a {
      color: darkgreen;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <br>

  <br>
  <h1>Payment Successful</h1>
  <p>Thank you for your payment. Your transaction has been completed successfully.</p>
  <br><br>
  <p>Transaction ID: 1234567890</p>
  <p>Amount Paid: Rs. 4500.00</p>
  <p>Date of Payment: 2023 January 30</p>
  <br>
  <br>
  <br>
  <a routerLink="/home">Return to Homepage</a>
  <br>
  <br>
  <br>
  <br>
  <br>

</body>
</html>
