<section class="login-page">
    <div class="section-center">
        <p-card header="Login">
            
            <div class="field">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input [(ngModel)]="username" type="text" class="p-inputtext-lg" 
                        [ngClass]="{'ng-invalid ng-dirty' : isSubmitted && usernameIncorrect}"
                        pInputText placeholder="Username">    

                </div>

                <small *ngIf="isSubmitted && usernameIncorrect" class="p-error">Cannot find given username. Please check again</small>
            </div>
            
            <div class="field">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                    <input [(ngModel)]="password" type="password" class="p-inputtext-lg" 
                    [ngClass]="{'ng-invalid ng-dirty' : isSubmitted && passwordIncorrect}"
                    pPassword [showPassword]="false" 
                    [feedback]="false" 
                    placeholder="Password">         
                </div>
                <small *ngIf="isSubmitted && passwordIncorrect" class="p-error">Username is incorrect.</small>
            </div>

            <button (click)="onSubmit()" class="btn login-btn">Sign In</button>

        </p-card>
    </div>
</section>

